.search-detail {
    position: relative;
    display: block;
}
@media only screen and (max-width: 992px) {
    .search-detail {
        display: none;
    }
}

.card-style .view img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.view.overlay {
    height: 197px;
}
.card-style .card-body {
    margin-top: 0;
}
.card-style {
    border:1px solid #000000;
}