.img-slide {
    height: 320px;
}

.card-style .view .currentPlace {
    max-width: 97%;
    white-space: nowrap;
}

.card-style .card-body .card-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.slick-slide img {
    width: 100%;
}

.slick-next {
    right:0;
}
.slick-prev {
    left: 0px;
    z-index: 999;
}
.img_sld {
    width: auto !important;
    height:350px !important;
    margin: 0 auto;
}